<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Enter the first number:</td>
            <td><input type="text" name="firstno"/></td>
        </tr>
        <tr>
            <td>Enter the second number:</td>
            <td><input type="text" name="secondno"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Addition</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>